############################
# macOS
############################

.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon

# Thumbnails
._*

############################
# Windows
############################

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

Desktop.ini
$RECYCLE.BIN/

############################
# Linux
############################

.directory


# 工具
Tools/
tools/

# 缓存
cache/

# 忽略 secrets 目录下所有文件，但保留 example.sh
/zsh/zsh/secrets/*
!/zsh/zsh/secrets/example.sh
