<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mac.pacproxy</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON__</string>
        <string>~/.config/pacproxy/pacproxy.py</string>
        <string>--rules-dir</string>
        <string>~/.config/pacproxy</string>
        <string>--log</string>
        <string>~/.config/pacproxy/pacproxy.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>~/.config/pacproxy/pacproxy.log</string>
    <key>StandardErrorPath</key>
    <string>~/.config/pacproxy/pacproxy.log</string>
</dict>
</plist>
